<%= render 'header' %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-sm-offset-2 center-xs">
        <h1>Get Insight</h1>
        <p class="subtitle">Instrument, collect, and query your metrics using Prometheus.</p>
        <p>
          <a class="btn btn-default btn-lg" href="/docs/introduction/getting_started/" role="button">GET STARTED</a>
          <!-- <a class="btn btn-default btn-lg" href="https://promcon.io/" role="button">JOIN PROMCON</a> -->
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
  <%= render 'container_footer' %>
</div>

<%= render 'footer' %>
